<div class='container-fluid hero-container'>
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8 hero-text'>People Everywhere...</div>
        <div class='col-2'></div>
    </div>
</div>
<div class='container-fluid tools-container'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-4 icon'>
            <div class="justify-content-center"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 48 48" xml:space="preserve" class='svg people-svg'>
<path d="M33,24c2.8,0,5-2.2,5-5s-2.2-5-5-5s-5,2.2-5,5S30.2,24,33,24z M18,22c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S14.7,22,18,22z
	 M33,28c-3.7,0-11,1.8-11,5.5V38h22v-4.5C44,29.8,36.7,28,33,28z M18,26c-4.7,0-14,2.3-14,7v5h14v-4.5c0-1.7,0.7-4.7,4.7-6.9
	C21,26.2,19.3,26,18,26z"/>
</svg></div>
            <h5 class="display-5">Find And Add People</h4>
            <p>Search for people in the database or add people to it.</p>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-4 icon'>
            <div class="justify-content-center"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 48 48" xml:space="preserve" class='svg chat-svg'>
<path d="M42 12h-4v18H12v4c0 1.1.9 2 2 2h22l8 8V14c0-1.1-.9-2-2-2zm-8 12V6c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2v28l8-8h20c1.1 0 2-.9 2-2z"/>
</svg></div>
            <h5 class="display-5">Chat with People</h4>
            <p>Find and chat with people who have a registered account.</p>
        </div>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-4 icon'>
            <div class="justify-content-center"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 48 48" xml:space="preserve" class='svg image-svg'>
<path d="M6 8V2h4v6h6v4h-6v6H6v-6H0V8h6zm6 12v-6h6V8h14l3.66 4H42c2.2 0 4 1.8 4 4v24c0 2.2-1.8 4-4 4H10c-2.2 0-4-1.8-4-4V20h6zm14 18c5.52 0 10-4.48 10-10s-4.48-10-10-10-10 4.48-10 10 4.48 10 10 10zm-6.4-10c0 3.54 2.86 6.4 6.4 6.4s6.4-2.86 6.4-6.4-2.86-6.4-6.4-6.4-6.4 2.86-6.4 6.4z"/>
</svg></div>
            <h5 class="display-5">Upload Images</h4>
            <p>Upload images for people and your account.</p>
        </div>
    </div>
</div>